<p>karibu works!</p>

<div>
    <form action="">
        <div>
            <label for="">roomNo</label>
            <input type="number" value="" required>
        </div>
        <div>
            <label for="">phoneNo</label>
            <input type="tel" placeholder="+255-700-000-000" required>
        </div>
        <div>
            <label for="">Menu</label>
            <textarea name="" id="" placeholder="menu here" [required]="true"></textarea>
        </div>
        <div>
            <label for="">Day&Time</label>
            <input type="datetime" name="" id=""required>
        </div>
        <button >RequestFood</button>
    </form>
</div>
