<div class="progress-wrapper">
  <div id="progress-bar-container">
    <ul>
      <li class="step step01" (click)="setActiveStep(step)"
        [ngClass]="step.stepName == activeStep.stepName ? 'active' : ''" *ngFor="let step of stepsList">
        <div class="step-inner">{{ step.stepName }}</div>
      </li>
    </ul>
    <div id="line">
      <div id="line-progress" [style.width.%]="stepperCompletionValue"></div>
    </div>
    <!-- progress-bar-container -->
    <div id="progress-content-section">
      <div class="section-content step1 active" *ngIf="activeStep.stepName == 'Basic Details'">
        <!-- <h2>Step 1</h2> -->
        <div>
          <div class="container-fluid">
            <div class="row">
              <div class="form-group col-md-4">
                <label for="">Name:</label>
                <input type="text" [(ngModel)]="employeeObj.userName" placeholder="Enter Name" class="form-control" />
              </div>
              <div class="form-group col-md-4">
                <label for="">Email:</label>
                <input type="text" [(ngModel)]="employeeObj.empEmailId" placeholder="Enter Email"
                  class="form-control" />
              </div>
              <div class="form-group col-md-4">
                <label for="">Password:</label>
                <input type="text" [(ngModel)]="employeeObj.password" placeholder="Enter passward"
                  class="form-control" />
              </div>
            </div>
            <div class="row pb-3">
              <div class="form-group text-start col-md-3">
                <label for="">Designation:</label>
                <select class="form-select" id="" [(ngModel)]="employeeObj.empDesignationId">
                  <option value="">Select Designation</option>
                  <option *ngFor="let item of designationList" [value]="item.designationId">{{item.designation}}
                  </option>
                </select>
              </div>
              <div class="form-group text-start col-md-3">
                <label>Role:</label>
                <select class="form-select" [(ngModel)]="employeeObj.roleId">
                  <option value="">Select Role</option>
                  <option *ngFor="let item of roleList" [value]="item.roleId">{{item.role}}</option>
                </select>

              </div>

              <div class="form-group text-start col-md-3">
                <label for="">Contact No:</label>
                <input type="text" [(ngModel)]="employeeObj.empContactNo" placeholder="Enter Contact"
                  class="form-control" />
              </div>
              <div class="form-group text-start col-md-3">
                <label for="">Alternative Contact No:</label>
                <input type="text" [(ngModel)]="employeeObj.empAltContactNo" placeholder="Enter Alternative Contact No"
                  class="form-control" required />
              </div>
              <div class="form-group text-start col-md-2">
                <label for="">Personal Email Id:</label>
                <input type="text" [(ngModel)]="employeeObj.empPersonalEmailId" placeholder="Enter Contact"
                  class="form-control" />
              </div>

            </div>


            <div class="row">
              <h5>Experience</h5>
              <div class="form-group col-md-6">
                <label for="">Total Year of Experience</label>
                <input type="text" [(ngModel)]="employeeObj.empExpTotalYear"
                  placeholder="Enter Total Year of Experience" class="form-control" required />
              </div>
              <div class="form-group col-md-6">
                <label for="">Total Month of Experience</label>
                <input type="text" [(ngModel)]="employeeObj.empExpTotalMonth"
                  placeholder="Enter Total Month of Experience" class="form-control" />
              </div>
            </div>
            <div class="row">
              <h5>Permanent Address</h5>

              <div class="form-group col-md-6">
                <label for="">City:</label>
                <input type="text" [(ngModel)]="employeeObj.empCity" placeholder="Enter City" class="form-control"
                  required />
              </div>
              <div class="form-group col-md-6">
                <label for="">State</label>
                <input type="text" [(ngModel)]="employeeObj.empState" placeholder="Enter State" class="form-control" />
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="">Pincode</label>
              <input type="text" [(ngModel)]="employeeObj.empPinCode" placeholder="Enter Pincode" class="form-control"
                required />
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="">Address</label>
                <textarea name="" id="" [(ngModel)]="employeeObj.empAddress"></textarea>
              </div>
            </div>

            <div class="row">
              <div class="row">
                <label for="">Current Address</label>
              </div>
              <div class="form-group col-md-6">
                <label for="">Personal City</label>
                <input type="text" [(ngModel)]="employeeObj.empPerCity" placeholder="Enter Personal City"
                  class="form-control" />
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-6">
                <label for="">Personal State</label>
                <input type="text" [(ngModel)]="employeeObj.empPerState" placeholder="Enter Personal State"
                  class="form-control" required />
              </div>
              <div class="form-group col-md-6">
                <label for="">Personal Pincode</label>
                <input type="text" [(ngModel)]="employeeObj.empPerPinCode" placeholder="Enter Personal Pincode"
                  class="form-control" />
              </div>
            </div>
            <div class="row">


              <div class="form-group col-md-6">
                <label for="">Personal Address</label>
                <input type="text" [(ngModel)]="employeeObj.empPerAddress" placeholder="Enter Personal Address"
                  class="form-control" />
              </div>
              <div class="form-group col-md-6">
                <label for=""> Emp Name</label>
                <input type="text" [(ngModel)]="employeeObj.empName" placeholder="Enter Personal Address"
                  class="form-control" />
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-12 text-end">
              <button class="btn btn-primary" (click)="gotoStep2()">
                <i class="fas fa-arrow-right"></i>Next
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="section-content step2 active" *ngIf="activeStep.stepName == 'Skills'">
        <h2>Step 2</h2>
        <div>
          <div class="container-fluid">
            <div class="form-group text-start mt-2" id="tblskill">
              <div class="">
                <div class="row">
                  <div class="col-6">
                    <h5>Add Skills</h5>
                  </div>
                  <div class="col-6 text-end">
                    <button class="btn btn-sm btn-info" (click)="addSkills()">
                      <i class="fas fa-plus"></i> Add
                    </button>
                  </div>
                </div>

                <div id="table-container">
                  <table class="tabel tabel-bordered">
                    <thead>
                      <tr>
                        <th>Skill Name</th>
                        <th>Total Experience</th>
                        <th>Last Version</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="
                          let skill of employeeObj.ErpEmployeeSkills;
                          let i = index
                        ">
                        <td>
                          <input type="text" [(ngModel)]="
                              employeeObj.ErpEmployeeSkills[i].skill
                            " placeholder="skils" class="form-control" />
                        </td>
                        <td>
                          <input type="text" [(ngModel)]="
                              employeeObj.ErpEmployeeSkills[i].totalYearExp
                            " placeholder="Last version" class="form-control" />
                        </td>
                        <td>
                          <input type="text" [(ngModel)]="
                              employeeObj.ErpEmployeeSkills[i].lastVersionUsed
                            " placeholder="Last version" class="form-control" />
                        </td>
                        <td>
                          <div class="btn-container">
                            <button class="btn btn-primary btn-success">
                              <i class="fas fa-save"></i>save
                            </button>
                            <button class="btn btn-danger">
                              <i class="fas fa-trash"></i>delete
                            </button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-end">
              <button class="btn btn-primary" (click)="gotoStep3()">
                <i class="fas fa-arrow-right"></i>Next
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="section-content step3 active" *ngIf="activeStep.stepName == 'Experience'">
        <h2>Step 3</h2>
        <div class="container-fluid">
          <div class="form-group text-start mt-2" id="tblexperience">
            <div class="">
              <div class="row">
                <div class="col-6">
                  <h5>Add Experience</h5>
                </div>
                <div class="col-6 text-end">
                  <button class="btn btn-sm btn-info" (click)="addExp()">
                    <i class="fas fa-plus"></i>Add
                  </button>
                </div>
              </div>
              <div id="table-container">
                <table class="tabel tabel-bordered">
                  <thead>
                    <tr>
                      <th>Company</th>
                      <th>Start Date</th>
                      <th>End Date</th>
                      <th>Disignation</th>
                      <th>Project</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let skill of employeeObj.ErmEmpExperiences">
                      <td>
                        <input type="text" [(ngModel)]="skill.companyName" placeholder="skils" class="form-control" />
                      </td>
                      <td>
                        <input type="date" [(ngModel)]="skill.startDate" placeholder="Total Experience"
                          class="form-control" />
                      </td>
                      <td>
                        <input type="date" [(ngModel)]="skill.endDate" placeholder="Last version"
                          class="form-control" />
                      </td>
                      <td>
                        <input type="text" [(ngModel)]="skill.designation" placeholder="Designation"
                          class="form-control" />
                      </td>
                      <td>
                        <input type="text" [(ngModel)]="skill.projectsWorkedOn" placeholder="project"
                          class="form-control" />
                      </td>
                      <td>
                        <div class="btn-container">
                          <div class="btn-group" role="group" aria-label="Basic example">
                            <button class="btn btn-primary btn-success me-1">
                              <i class="fas fa-save"></i>save
                            </button>
                            <button class="btn btn-danger">
                              <i class="fas fa-trash"></i> delete
                            </button>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-end">
              <button class="btn btn-primary btn-success" (click)="saveEmployee()">SaveEmployee</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- progress-wrapper -->
</div>

<app-karibu></app-karibu>